.navbar {
    background-color: transparent;
    color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 8vh;
    z-index: 100;
    position: fixed;
    width: 100vw;
}

p{
    justify-content: center;
    display: flex;
    position: relative;
    font-size: 20px;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 0;
    margin-right: 30vw;
    color: white;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.download-cv{
    margin-left: 30vw;

}

.li {
    margin: 0;
}

.navbar-links a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    position: relative; /* Necessary for the positioning of the ::after pseudo-element */
}

.navbar-links a::after {
    left: 50%;
    content: '';
    position: absolute;
    width: 0; /* Initial width of the line */
    height: 2px; /* Height of the line */
    bottom: 0;
    background-color: white; /* Line color */
    transition: width 0.25s ease, left 0.25s ease; /* Smooth transition for the line */
    transform: translateX(-50%); /* Ensures the line grows from the center */
}

.navbar-links a:hover::after {
    width: 100%; 
}



@media screen and (max-width: 600px) {
    .navbar {
        height: 6vh;
        padding: 0.25rem 0.5rem;
    }

    .navbar-links {
        flex-wrap: wrap;
        justify-content: space-around; 
    }

    .navbar-links a {
        font-size: 12px; 
        padding: 0.25rem 0.5rem;
    }

    .download-cv {
        margin-left: 0;
    }

    p {
        font-size: 12px;
        margin-right: 15vw;
    }

}
